
/*********************************| Tudo |**************************************/

body, html {
	height: 100%;
/* Mantém o footer colado em baixo */
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
/* /Mantém o footer colado em baixo */
	background: #e6e6e6 /* #e6e6e6 | #fff | #000 */
}

html {
	/*  */
	overflow-y: scroll;
	scroll-behavior: smooth;
}

/* Mantém o footer colado em baixo */
main {
	flex: 1 1 0;
}

footer {
	margin-top: auto;
}
/* /Mantém o footer colado em baixo */

ul {
	list-style: none;
	text-align: center;
}

iframe, img {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
}

.conteudo-site a:active:not(:hover),
.conteudo-site a:focus:not(:hover),
.conteudo-site a:focus-visible:not(:hover) {
	color: currentColor;
}

a,
button,
img {
	user-select: none;
	-webkit-user-drag: none;
}

a:focus-visible {
	outline: 2px solid #6d9887;
	outline-offset: 2px;
}

button {
	color: inherit
}

button:focus,
button:active,
button:focus-visible {
	outline: none;
	box-shadow: none;
}

/***************************| Barra de Nevegação |******************************/

.navbar-brand {
	margin-left: 16px; /* Mexer aqui caso necessário */
}

.navbar-nav {
	margin: 0 auto;
}

.navbar {
	position: relative;
	z-index: 1030;
}

header .navbar {
	z-index: 1050;
}

.dropdown-menu {
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #000;
	padding: 0;
	color: #000;
	text-align: center;
	/*user-select: none;*/
}

.dropdown-menu li:first-child .dropdown-item {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.dropdown-menu li:last-child .dropdown-item {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.dropdown-item {
	color: #000;
	padding: 8px 12px;
	border-radius: 0;
	user-select: none;
	-webkit-user-drag: none;
	transition: background-color 0.15s ease, color 0.15 ease;
}

/*
.dropdown-item:active:not(:hover){
	background-color: #494c4e;
	color: #fff;
}*/

.dropdown-item:active {
	background-color: #494c4e !important;
	color: #fff;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item.active {
	background-color: #494c4e;
	color: #fff;
	border-radius: 0;
}

.dropdown-item:focus {
	background-color: var(--bs-dropdown-link-hover-bg);
}

.dropdown-item.active, .dropdown-item:active{
	background-color: #000;
	color: #fff;
}

.dropdown-toggle::after {
	display: none;
}

.nav-item.dropdown.show > .nav-link {
	color: #6d9887;
}

.navbar .nav-link.active {
	color: #fff;
}

.navbar .nav-link:hover {
	color: #fff;
}

.navbar-nav .nav-item.dropdown {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-link.active {
	pointer-events: none;
	cursor: default;
}

/*****************************| Sub-Menu Compras |*****************************/

.nav-tabs {
	border-bottom: none;
	margin-bottom: 0;
	position: relative;
	z-index: 2;
}

/* Abas não ativas */
.nav-tabs .nav-link {
	color: #000;
	background-color: #cfcfcf; /* transparent #cfcfcf */
	border: none; /* none */
	margin: 0 3px;
	padding: 6px 10px;
	border-radius: 6px;
	transition: all 0.2 ease;
	/*margin-bottom: 10px;*/
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: none;
}

.nav-tabs .nav-link:hover {
	color: #fff;
	background-color: #494c4e;
}

.nav-tabs .nav-link.active {
	color: #000;
	background-color: #fff; /* #212529 */
	border-radius: 0.375rem;
	text-shadow: 0 0 0.5px currentColor;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 2px solid #fff;
}

/****************************| Primeira Coluna |********************************/

.coluna-formatacao {
	font-size: 1.2em;
	background: #fff;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-radius: 5px;
}

.coluna-formatacao ul {
	background: #fff;
	margin: 0;
	padding: 0; /* Controla a distancia entre os botões */
	border-radius: 10px;
}

.coluna-formatacao a {
	display: block;
	padding: 6px 0px;
	color: #000;
	text-decoration: none;
	border-radius: 8px;
	box-shadow: 0 0 0 transparent;
	transition: background 0.2s ease, transform 0.2s ease;
}

.coluna-formatacao ul a:hover {
	background-color: #e6e6e6;
	font-weight: bold;
	color: #000;
}

.coluna-formatacao li {
	margin: 0;
}

/* Deixa os entornos dos botões mais profissionais */

.coluna-formatacao ul li a {
	display: block;
	border-radius: 0;
}

.coluna-formatacao ul:first-child li:first-child a {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.coluna-formatacao ul:last-child li:last-child a {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* /Deixa os entornos dos botões mais profissionais */

.primeiro-formatacao { /* Cor das colunas  */
	background: linear-gradient(180deg, #2d3436, #636e72); 
	padding: 5px 5px;
	margin: 5px 5px;
	border-radius: 5px;
}

.formatacao-container { /* Cor do container das colunas */
	background: #fff;
	padding: 5px;
	border-radius: 5px;
}

.coluna-titulo {
	/*border: 1px solid black;*/
	font-size: 1.3em;
	text-align: center;
	color: #000;
	background: #fff;
}

.coluna-subtitulo {
	/*border: 1px solid white;*/
	font-size: 1.3em;
	text-align: center;
	color: #fff;
	background: #000;
	border-radius: 5px;
}

.navegacao-formatacao {
	font-size: 1em;
}

.logo-formatacao {
	font-size: 1.3em;
}

.text-none a {
	text-decoration: none;
}

/****************************| Segunda Coluna |*********************************/

.coluna-titulo-centro { /* Promoções da Semana */
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	background: #000;
	margin: 0px;
	border-radius: 5px 5px 0 0;
}

.cor-seta {
	filter: invert(100%);
}

.carousel-indicators {
	bottom: 5px;
	padding: 8px 14px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

.carousel-indicators button {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
	border: none;
	margin: 0 6px;
	opacity: 1;
	/*transition: background-color 0.3s, transform 0.2s;*/
}

.carousel-indicators button.active {
	background-color: #fff;
	transform: scale(1.25);
}

.carousel-indicators button:hover {
	background-color: rgba(255, 255, 255, 1);
}

.carousel-indicators button:hover:not(active) {
	background-color: #fff;
	opacity: 1;
}

.carousel-item {
	/*transition: opacity .0.5s ease-in-out;*/
}

.carousel-inner {
	background-color: #000;
}

.carousel-caption {
	position: absolute;
	top: 15px;
	bottom: auto;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	padding: 0 15px;
	text-align: center;
}

.caption-top {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	pointer-events: none;
}

.caption-bottom {
	position: absolute;
	margin-bottom: 0;
	bottom: 70px; /* espaço para os indicadores */
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	pointer-events: none;
}

.texto-imagem-cima {
	display: inline-block;
	padding: 6px 18px;
	font-size: 1.3em;
	font-weight: bold;
	color: rgba(255, 255, 255, 1);
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 5px;
}

.texto-imagem-baixo {
	display: inline-block;
	padding: 10px 14px;
	font-size: 1.2em;
	color: rgba(255, 255, 255, 1);
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	border-radius: 5px;
}

.texto-indicadores {
	padding: 0px;
	/*background: rgba(109, 152, 135, 0.7);*/
}

/* ************* Essa parte controla a hit-box dos botões < > *******************

.carousel-control-prev,
.carousel-control-next {
	top: 50%;
	transform: translateY(-50%);
	height: 60px;
	width: 40px;
	border-radius: 5px;
	margin: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	width: 20px;
	height: 20px;
}

****************** ****************** ****************** *************** *******/

.preco-atual {
	padding: 4px;
	color: #FF4000;
	text-decoration: line-through;
	background: rgba(0, 0, 0, 0.8);
	border: 1px solid rgba(255, 64, 0, 1);
	border-radius: 5px;
}

.preco-novo {
	padding: 4px;
	color: #00FF00;
	background: rgba(0, 0, 0, 0.8);
	border: 1px solid rgba(147, 250, 165, 1);
	border-radius: 5px;
}

.border-radius {
	border-radius: 5px;
}

/****************************| Terceira Coluna |********************************/

.mapa-formatacao {
	display: block;
	border-radius: 5px;
	border: 0;
}

.mapa-container {
	border-radius: 5px;
	background: #fff;
}

/********************************| Compras |************************************/

#body-centralizado {
	display: grid;
	place-items: center;
	height: 100vh;
	margin: 0;
}

.espaco-link {
	margin-top: 10px;
}

.tab-pane a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.titulo-tipo {
	font-weight: bold;
}

/**********************************| Itens |************************************/

ul {
	padding-left: 0 !important;
	margin-left: 0 !important;
	text-align: center;
	list-style: none;
	list-style-position: inside;
}

/*********************************| Footer |************************************/

#footer {
	display: grid;
	border-top: 1px solid transparent;
}

.rodape-formatacao {
	position: relative;
	padding: 5px;
	text-align: center;
	font-size: 1.1em;
	color: #e6e6e6;
}

.rodape-formatacao a {
	text-decoration: none;
}

.rodape-escrita-formatacao {
	top: -50%;
	transform: translateY(40%);
}

.link-footer {
	color: #0d6efd;
}

.link-footer:hover,
.link-footer:active,
.link-footer:focus,
.link-footer:focus-visible {
	color: #0a58ca;
}

/*******************************| Media Queries |*******************************/

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

		.navbar-center {
		    position: absolute;
		    left: 50%;
		    transform: translateX(-50%);
		}

		.primeiro-formatacao {
			padding: 5px 5px;
			margin: 7px 5px;
		}

		.coluna-formatacao {
			font-size: 1.1em;
			margin: 10px;
			padding: 0;
		}

		.coluna-titulo {
			font-size: 1.2em;
			margin: 5px;
			padding: 5px;
		}

		.coluna-titulo-dois {
			font-size: 1.2em;
			margin: 5px;
			padding: 5px;
		}

		.coluna-subtitulo {
			font-size: 1.2em;
			margin: 5px;
			padding: 6px 5px;
		}

		.coluna-titulo-centro {
			font-size: 1.7em;
			margin: 0px;
			padding: 15px;
		}

		.titulo-tipo {
			font-size: 2.1em;
			margin-bottom: 10px;
			padding: 5px;
		}

		.texto-imagem-cima {
			font-size: 1.5em;
			color: rgba(255, 255, 255, 1);
			background: rgba(0, 0, 0, 0.8);
		}

		.texto-imagem-baixo {
			padding: 10px;
			margin-bottom: 0;
			color: rgba(255, 255, 255, 1);
			background: rgba(0, 0, 0, 0.8);
			font-size: 1.3em;
		}

		.rodape-formatacao {
			padding: 5px;
			font-size: 1em;
		}

		.navegacao-formatacao {
			font-size: 1em;
		}

		.logo-formatacao {
			font-size: 1.3em;
		}

		.seta-hover a:hover {
			background-color: rgba(109, 152, 135, 0.05);
		}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

		.navbar-center {
		    position: absolute;
		    left: 50%;
		    transform: translateX(-50%);
		}

		.primeiro-formatacao {
			padding: 4px 4px;
			margin: 4px 4px;
			margin-bottom: 5px;
		}

		.coluna-formatacao {
			font-size: 1em;
			margin: 8px;
			padding: 0;
		}

		.coluna-titulo {
			font-size: 1.1em;
			margin: 5px;
			padding: 5px;
		}

		.coluna-titulo-dois {
			font-size: 1.1em;
			margin: 5px;
			padding: 5px;
		}

		.coluna-subtitulo {
			font-size: 1.1em;
			margin: 5px;
			padding: 5px 5px;
		}

		.coluna-titulo-centro {
			font-size: 1.5em;
			margin: 0px;
			padding: 12px;
		}

		.titulo-tipo {
			font-size: 1.9em;
			margin-bottom: 10px;
			padding: 5px;
		}

		.texto-imagem-cima {
			font-size: 1.4em;
		}

		.texto-imagem-baixo {
			padding: 9px;
			margin-bottom: 0;
			font-size: 1.15em;
		}

		.rodape-formatacao {
			padding: 5px;
			font-size: 0.95em;
		}

		.navegacao-formatacao {
			font-size: 0.95em;
		}

		.logo-formatacao {
			font-size: 1.25em;
		}

		.seta-hover a:hover {
			background-color: rgba(109, 152, 135, 0.075);
		}

}

/* Medium devices (tablets, 768 and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

		.navbar-center {
		    position: absolute;
		    left: 50%;
		    transform: translateX(-50%);
		}

		.primeiro-formatacao {
			padding: 3px 3px;
			margin: 5px 5px;
			margin-bottom: 5px;
		}

		.espaco-bottom {
			margin-bottom: 10px;
		}

		.coluna-formatacao {
			font-size: 0.95em;
			margin: 6px;
			padding: 0;
		}

		.coluna-titulo {
			font-size: 1.05em;
			margin: 5px;
			padding: 5px;
		}

		.coluna-titulo-dois {
			font-size: 0;
		}

		.coluna-subtitulo {
			font-size: 1.05em;
			margin: 5px;
			padding: 4px 5px;
		}

		.coluna-titulo-centro {
			font-size: 1.3em;
			margin: 0px;
			padding: 10px;
		}

		.titulo-tipo {
			font-size: 1.7em;
			margin-bottom: 10px;
			padding: 5px;
		}

		.texto-imagem-cima {
			font-size: 1.2em;
		}

		.texto-imagem-baixo {
			padding: 9px;
			margin-bottom: 0;
			font-size: 1.1em;
		}

		.rodape-formatacao {
			padding: 5px;
			font-size: 0.9em;
		}

		.navegacao-formatacao {
			font-size: 0.9em;
		}

		.logo-formatacao {
			font-size: 1.2em;
		}

		.seta-hover a:hover {
			background-color: rgba(109, 152, 135, 0.1);
		}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

		.navbar .dropdown-menu {
			position: static;
			width: 60%;
			margin: 0;
			transform: none;
			text-align: center;
		}

		.primeiro-formatacao {
			padding: 2px 2px;
			margin: 5px 5px;
			margin-bottom: 5px;
		}

		.coluna-formatacao {
			font-size: 0.8em;
			margin: 5px;
			padding: 0;
		}

		.coluna-titulo {
			font-size: 0.9em;
			margin: 5px;
			padding: 5px;
			border-radius: 8px;
		}

		.coluna-titulo-dois {
			font-size: 0;
		}

		.coluna-subtitulo {
			font-size: 0.9em;
			margin: 5px;
			padding: 3px 5px;
		}

		.coluna-titulo-centro {
			font-size: 1.2em;
			margin: 0px;
			padding: 5px;
		}

		.titulo-tipo {
			font-size: 1.5em;
			margin-bottom: 10px;
			padding: 5px;
		}

		.texto-imagem-cima {
			font-size: 1.1em;
		}

		.texto-imagem-baixo {
			padding: 8px;
			margin-bottom: 0;
			font-size: 0.85em;
		}

		.rodape-formatacao {
			padding: 5px;
			font-size: 0.85em;
		}

		.logo-formatacao {
			font-size: 1.15em;
		}

		.seta-hover a:hover {
			background-color: rgba(109, 152, 135, 0.125);
		}

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

		.navbar .dropdown-menu {
			position: static;
			width: 60%;
			margin: 0;
			transform: none;
			text-align: center;
		}

		.primeiro-formatacao {
			padding: 5px 5px;
			margin: 5px 5px;
			margin-bottom: 5px;
		}

		.celular-centralizado {
			display: grid;
			justify-items: center;
		}

		.coluna-formatacao {
			font-size: 1em;
			margin: 6px; 
			padding: 0;
		}

		.coluna-titulo {
			font-size: 1.1em;
			margin: 5px;
			padding: 5px;
		}

		.coluna-subtitulo {
			font-size: 1.1em;
			margin: 5px;
			padding: 6px 5px;
		}

		.coluna-titulo-centro {
			font-size: 1.1em;
			margin: 0px;
			padding: 5px;
		}

		.titulo-tipo {
			font-size: 1.5em;
			margin-bottom: 10px;
			padding: 5px;
		}

		.texto-imagem-cima {
			font-size: 1em;
		}

		.texto-imagem-baixo {
			padding: 8px;
			margin-bottom: 0;
			font-size: 0.8em;
		}

		.rodape-formatacao {
			padding: 5px;
			font-size: 0.8em;
		}

		.logo-formatacao {
			font-size: 1.15em;
		}

		.seta-hover a:hover {
			background-color: rgba(109, 152, 135, 0.15);
		}

}